@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

:root {
    --white-blue: #DFECF4;
    --mid-blue: #49c9fa;
    --dark-blue: #2b4681;
    --banner-bg: #29417c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.button {
    color: var(--dark-blue);
    background-color: var(--mid-blue);
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
}

nav {
    background-color: var(--white-blue);
    padding: 20px 80px;
}

header nav, .navbar, .navbar ul {
    display: flex;
    align-items: center;
}

header nav {
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    padding: 10px 60px 10px 0;
}

.navbar li a {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.banner {
    height: 40rem;
    background-color: var(--banner-bg);
    color: white;
    padding: 5rem 3rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.banner p {
    width: 40rem;
    text-align: center;
}

.banner img {
    height: 30rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--dark-blue);
}

section {
    display: flex;
    align-items: center;
    padding: 2rem;
}

section p {
    margin-bottom: 2rem;
}

section .image img {
    height: 25rem;
}

.signup {
    background-color: var(--white-blue);
    padding: 5rem 0;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.signup .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup h1 {
    width: 600px;
    text-align: center;
}

.signup p {
    width: 400px;
    text-align: center;
}

footer {
    padding: 40px 80px;
}

footer .navigation {
    display: flex;
    justify-content: space-between;
}

footer img {
    height: 25rem;
}

.navigation .menu {
    display: flex;
    justify-content: space-between;
}

.menu .item {
    padding: 30px;
}

.item h3 {
    padding-bottom: 10px;
}

.item li {
    list-style: none;
    margin: 5px 0;
}

.item li a {
    text-decoration: none;
    color: #000;
}

.developer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer a {
    text-decoration: none;
    color: var(--dark-blue);
}